body, html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


.main-container {
    display: flex;
}

.chats-list{
    overflow: scroll;
    
}

.chats-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.contact-chat-info {
    padding: 8px;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
}

.name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h5 {
    margin: 0;
    margin-bottom: 0.5em;
}

h6 {
    margin: 0;
    color: #BDBDBD;
    font-weight: 100;  
}

p{
    margin: 0;
    font-size: 12px;
    color: #9E9E9E;   
    min-width: 50%;
        padding: 1em;
}

span {
    color: #9E9E9E;   
    margin-right: 5px;
}

.contact-profile-pic {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 1000px;
    background-color:grey;
}


.chat{
    width: 70%;
    display: flex;
    justify-content: center;
}

h4 {
    margin-top: 3em;
    color: #BDBDBD;
    font-weight: 100;
}

.chats-list-item:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

.double-ticks {
    color: #29B6F6;
}

.chat-detail {
    align-items: center;
    flex-direction: column;
}

.contact-photo{
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 1000px;
    background-color: grey;
}

.dial-icon, .email-icon {
    font-size: 2em;
}

.dial-icon {
    color: #3c8105;
}

.email-icon {
    color: #8f478e;
}

.fab {
    float: right;
    font-size: 60px;
    color:gainsboro;
    margin-right: 20px;
    margin-top: 46px;
    margin-bottom: 40px;
    transition: transform .2s;
    background-color: black !important;
    border-radius: 90px;	
    padding: 2px 5px 5px 5px;
}


.fab:hover {
    transform: scale(1.5);
}
